/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */

* {
    box-sizing:border-box;
}

html {
    font-size:16px;
}

p {
    font-family:Roboto, Helvetica, sans-serif;
    line-height:150%;
}

@font-face {
    font-family:Rozha One;
    src: url(../fonts/serif/rozhaone-regular.ttf) format('opentype');
    font-style:normal;
    font-weight:normal;
}

@font-face {
    font-family:Roboto;
    src: url(../fonts/sans-serif/roboto-regular.ttf) format('opentype');
    font-style:normal;
    font-weight:normal;
}

@font-face {
    font-family:Ultra;
    src: url(../fonts/serif/ultra-regular.ttf) format('truetype');
    font-style:normal;
    font-weight:500;
}

body {
    margin-left:2rem;
    margin-right:2rem;
    width:95%;
}

.container {
    box-sizing:border-box;
    display:grid;
    column-count:2;
    grid-template-columns:3fr 1fr;
    grid-column-gap:.5rem;
    grid-template-rows:auto auto auto;
    grid-auto-rows:minmax(100px, 130px);
    grid-auto-columns:minmax(100px, 200px);
    width:fit-content;
    height:95vh;
    width:95vh;
}

/* .one {
    grid-column:1;
    grid-row:1;
}

.two {
    grid-column:2;
    grid-row:1 / all;
}

.three {
    grid-column:1;
    grid-row:2;
}

.four {
    grid-column:1;
    grid-row:3;
}
    */

.highlight {
    
    font-family:Ultra, Georgia, serif;
    background-color:rgb(159, 244, 216);
    text-transform:uppercase;
    letter-spacing:.4rem;
    font-weight:600;
    border-top-left-radius:.5rem;
    border-bottom-right-radius:.5rem;
    box-shadow:grey .2rem .2rem;
    border:solid black .5rem;
    padding:.5rem;

}

h1 {
    font-family:Roboto, Helvetica, sans-serif;
    font-size:3rem;
    font-weight:300;
    text-align:center;
    text-shadow:.1rem .1rem grey;
    padding-bottom:1rem;
    padding-top:1rem;
    transform:rotate(-6deg);
    letter-spacing:.3rem;
}

h2 {
    font-family:Roboto, Helvetica, sans-serif;
    font-size:1.5rem;
    text-align:left;
    padding-top:1rem;
    padding-bottom:0;
}

h3 {
    font-family:Roboto, Helvetica, sans-serif;
    font-size:1.1rem;
    text-align:left;
    padding-top:0;
    padding-bottom:0;
}

.topnav {
    border-top:.2rem solid #2f3131;
    border-bottom:.2rem solid #2f3131;
    padding-top:1.3rem;
    padding-bottom:1.3rem;
    text-align:left;
    word-spacing:7rem;
    margin-right:0;
    margin-left:0;
}

nav a {
    font-family:Roboto, Helvetica, sans-serif;
    font-size:1.8rem;
    color:black;
    text-decoration:none;
}

nav a:hover {
    color:blue;
    text-decoration-line:underline;
    transform:rotate(2deg);
}

nav a:active {
    color:rgb(255, 255, 255);
    background-color:blue;
}

.subscribe {
    font-family:Ultra, Georgia, serif;
    font-weight:400;
    grid-column:1;
    grid-row:3;
    text-transform:uppercase;
    text-decoration:none;
    text-align:center;
    background-color:rgb(159, 244, 216);
    border:solid black .5rem;
    margin:.5 rem;
    box-shadow:grey .3rem .3rem;
    border-radius:3rem;
    padding:1rem;
    width:15rem;
    height:5rem;
    
}

.subscribe a:hover {
    color:rgb(161, 158, 158);
    text-decoration-line:underline;
}

.subscribe a:active {
    color:rgb(159, 244, 216);
    background-color:#2f3131;
}

.article-image {
    float:left;
    margin-left:0;
    margin-top:0;
    margin-bottom:.5rem;
    margin-right:.6rem;
    padding-right:.3rem;
}

.main-section {
  
    padding-right:1rem;
    grid-column:1;
    grid-row:1;
}

.subsection {
    
    grid-column:1;
    grid-row:2;
    display:inline-block;
    white-space:nowrap;
}

/* .figurerow {
    background-color:rgb(159, 244, 216);
    padding-top:0;
    padding-bottom:0;
    caption-side:bottom;
} */

figcaption {
    font-family:Roboto, Helvetica, sans-serif;
    text-align:start;
    font-size:1rem;
    line-height:110%;
}

.figurerow {
    background-color:rgb(159, 244, 216);
    caption-side:bottom;
    display:inline-block;
    margin-left:.2rem;
    margin-right:.2rem;
    max-width: 70%;
    max-height:70%;
    object-fit:cover;
}

aside {
    border-left:.1rem solid black;
    padding-left:1rem; 
    padding-right:1rem;
    padding-top:0;
    margin-top:0;
    margin-left:1.5rem;
    margin-right:.5rem;
    grid-column:2;
    grid-row:1 / all;
    float:right;
    align-items:left;
    align-content:left;
}

.imgrow {
    display:flex;
    /* object-fit:contain; */
    max-width:80%;
    
} 

.imgaside {
    
    max-width:auto;
    margin-left:0;
    justify-self:start;
    display:flex; 
    
}