/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */

* {
    box-sizing:border-box;
}

html {
    font-size:16px;
    width:100%;
}

p {
    font-family:Roboto, Helvetica, sans-serif;
    line-height:150%;
}

@font-face {
    font-family:Rozha One;
    src: url(../fonts/rozhaone-regular.ttf) format('opentype');
    font-style:normal;
    font-weight:normal;
}

@font-face {
    font-family:Roboto;
    src: url(../fonts/roboto-regular.ttf) format('opentype');
    font-style:normal;
    font-weight:normal;
}

body {
    margin-left:2rem;
    margin-right:2rem;
    width:100%;
    min-width:56rem;
}

.container {
    box-sizing:border-box;
    display:grid;
    column-count:2;
    grid-template-columns: 3fr 1fr;
    grid-column-gap:.5rem;
    grid-template-rows:auto auto auto;
    grid-auto-rows:minmax(100px, 130px);
}

/* .one {
    grid-column:1;
    grid-row:1;
}

.two {
    grid-column:2;
    grid-row:1 / all;
}

.three {
    grid-column:1;
    grid-row:2;
}

.four {
    grid-column:1;
    grid-row:3;
}
    */

.highlight {
    border-style:dotted;
    border-width:.3rem;
    background-color:rgb(159, 244, 216);
    text-transform:uppercase;
    text-decoration:none;
    letter-spacing:.3rem;
}

h1 {
    font-family:Rozha One, Georgia, serif;
    font-size:3rem;
    text-align:center;
    text-shadow:.2rem .2rem rgb(159, 244, 216);
    padding-bottom:1rem;
    padding-top:1rem;
    transform:rotate(-6deg);
}

h2 {
    font-family:Roboto, Helvetica, sans-serif;
    font-size:1.5rem;
    text-align:left;
    padding-top:1rem;
    padding-bottom:0;
}

h3 {
    font-family:Roboto, Helvetica, sans-serif;
    font-size:1.1rem;
    text-align:left;
    padding-top:0;
    padding-bottom:0;
}

.topnav {
    border-top:.2rem solid #2f3131;
    border-bottom:.2rem solid #2f3131;
    padding-top:1.3rem;
    padding-bottom:1.3rem;
    text-align:left;
    word-spacing:7rem;
    margin-right:1.5rem;
    margin-left:0;
}

nav a {
    font-family:Roboto, Helvetica, sans-serif;
    font-size:1.8rem;
    text-decoration:none;
    color:black;
}

nav a:hover {
    color:blue;
    text-decoration-line:underline;
    transform:rotate(2deg);
}

nav a:active {
    color:rgb(255, 255, 255);
    background-color:blue;
}

.subscribe {
    grid-column:1;
    grid-row:3;
    color:black;
    text-transform:uppercase;
    font-family:Rozha One, Georgia, serif;
    font-size:1.8rem;
    text-shadow:grey;
    text-align:center;
    background-color:rgb(159, 244, 216);
    border:solid black .2rem;
    margin:.5 rem;
}

.subscribe a:hover {
    color:rgb(161, 158, 158);
    text-decoration-line:underline;
}

.subscribe a:active {
    color:rgb(159, 244, 216);
    background-color:#2f3131;
}

.article-image {
    float:left;
    margin-left:0;
    margin-top:0;
    margin-bottom:.5rem;
    margin-right:.6rem;
    padding-right:.3rem;
}

.main-section {
  
    padding-right:1rem;
    grid-column:1;
    grid-row:1;
}

.subsection {
    
    grid-column:1;
    grid-row:2;
    display:inline-block;
}

/* .figurerow {
    background-color:rgb(159, 244, 216);
    padding-top:0;
    padding-bottom:0;
    caption-side:bottom;
} */

figcaption {
    font-family:Roboto, Helvetica, sans-serif;
    text-align:start;
    font-size:1rem;
    line-height:150%;
}

.figurerow {
    background-color:rgb(159, 244, 216);
    caption-side:bottom;
    display:inline-block;
}

aside {
    border-left:.1rem solid black;
    padding-left:1rem; 
    padding-right:1rem;
    padding-top:0;
    margin-top:0;
    margin-left:1.5rem;
    margin-right:.5rem;
    grid-column:2;
    grid-row:1 / all;
}

.imgrow {
    display:inline-block;
    object-fit:contain;
    max-width:fit-content;
} 

.imgaside {
    max-inline-size:100%;
    max-width:90%;
    margin-left:0;
    
}